<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPV</title>
    <link rel="icon" type="image/x-icon" href="<?= $rutaImgs.'favicon.png' ?>">
    <link rel="stylesheet" href="/View/css/estilos.css">
</head>
<body>
    <section id="secPaginaError">
        <div>
            <img src="/View/Imagenes/6000_9_07 - Gato llorando.png" alt="Gato llorando">
            <p class="txt_centrado atribucion">Atribución de imagen: <a href="https://www.freepik.es/vector-gratis/ilustracion-icono-vector-dibujos-animados-lindo-gato-llorando-concepto-icono-naturaleza-animal-aislado-vector-premium_30924706.htm#fromView=search&page=2&position=6&uuid=3adfec38-4cae-444d-8cb0-f8477b4d4437">Imagen de catalyststuff</a> en Freepik</p>
        </div>
        <div>
            <h1 class="txt_centrado txtMayusculas">Cáspitas, se ha producido un error</h1>
            <p>Sentimos mucho que hayas llegado a esta página. Por algún motivo que lamentamos, se ha producido un error.</p>
            <p>Esperamos que no se vuelva a ocurrir pero si pasa, por favor, contacta con el servicio técnico.</p>
            <p class="txt_centrado"><a href="/index.php">Volver al inicio</a></p>
        </div>
    </section>
</body>
</html>